.filter::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    background-color: #4923b1;
    mix-blend-mode: screen;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.filter:hover::before {
    background: transparent;
    filter: none;
}
