body {
    background-image: url(./third_blur.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper > * {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.Typewriter {
    width: 300px;
}

.featured-card-image > img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.content,
.content > * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-moz-selection {
    color: #fff;
}

::selection {
    color: #fff;
}
