body {
    background-image: url(./third_blur.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

/* .content {
    width: 334px;
    height: 223px;
    background: #000;
    border-radius: 3px;
    padding: 0;
} */

.wrapper {
    /* padding: 10px;
    height: 432px;
    transform: scale(0.5);
    transform-origin: top left; */
    /* width: 668px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper > * {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}

.Typewriter {
    padding: 15px;
    width: 300px;
}

.featured-card-image > img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.content,
.content > * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-moz-selection {
    color: #fff;
}

::selection {
    color: #fff;
}
